.Cart {
  position: fixed;
  top: 90px;
  right: -200px;

  width: 200px;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background-color: lightblue !important;
  border: 1px solid blue !important;

  transition: right 1s ease-out;

  z-index: 1000;

  & > h2 { 
    color: red;
  }

  &:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}


.true {
  color: green;
  right: 0 !important;
}

