.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  height: calc(100vh - 90px);

  * {
    background: transparent !important;
  }

  div {
    z-index: 2;
    padding: 52px 52px;
    border-radius: 12px;
    background: rgb(225, 225, 225) !important;
    box-shadow: 5px 5px 32px rgba(0, 0, 0, 0.75);

    opacity: 0.9;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: space-between;
    gap: 24px;
  }

  h2 {
    font-size: 46px;
  }

  p {
    font-size: 21px;
  }

  iframe {
    width: 600px;
    height: 400px;
    border: none;
    box-shadow: 5px 5px 32px rgba(0, 0, 0, 0.5);
  }
}

.contact:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/SkiResortDay.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 0.5; 
}

